<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Carbon Calculator</title>
    <link rel="stylesheet" href="static/StyleSheet1.css" />

</head>
<body>

    <div class="navbar">
        <div class="logo"><a href="Home" style="width:150px; height:30px">Rolsa Tech</a></div>

        <div class="menu">
            <div class="dropdown">
                <a href="SolarPanel" class="dropbtn">SolarPanel <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="SolarInstall">Solar Installations</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="EVpage" class="dropbtn">EV's <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="EVChargers">EVChargers</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="HEMPage" class="dropbtn">HEM's </a>

            </div>
            <div class="dropdown">
                <a href="GreenPage" class="dropbtn">Green Energy <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="reduce">reduce emissions</a>
                    <a href="CarbonCalc">Carbon Footprint Calculator</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="Booking" class="dropbtn">Bookings</a>

            </div>

            <div class="logo2">
                {% if data.loggedin == False %}
                <a href="/login">Login/Register</a>
                {% else %}
                <a href="/account"><img src="static/loggedin.png" /> </a>
                {% endif %}
            </div>
        </div>


    </div>
    <div class="ctitle">
        <h1>Welcome to the Carbon footprint Calculator!</h1>
    </div>
    <div class="carboncalc">
        <p><iframe width="710" height="1300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe></p>
    </div>
    <div class="footer">
        <p>Contact us: <a href="mailto:support@rolsa-tech.com">support@rolsa-tech.com</a></p>
        <p>Phone: +44 1234 567 890</p>
        <p><a href="supportPage" target="_blank">Visit our support site</a></p>
    </div>
</body>
</html>