<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel="stylesheet" href="StyleSheet.css" /> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, inital-scale-1.0" />
    <title>Reducing energy usage</title>
    <link rel="stylesheet" href="static/StyleSheet1.css" />

</head>
<body>

    <div class="navbar">
        <div class="logo"><a href="Home" style="width:150px; height:30px">Rolsa Tech</a></div>

        <div class="menu">
            <div class="dropdown">
                <a href="SolarPanel" class="dropbtn">SolarPanel <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="SolarInstall">Solar Installations</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="EVpage" class="dropbtn">EV's <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="EVChargers">EVChargers</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="HEMPage" class="dropbtn">HEM's </a>

            </div>
            <div class="dropdown">
                <a href="GreenPage" class="dropbtn">Green Energy <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="reduce">reduce emissions</a>
                    <a href="CarbonCalc">Carbon Footprint Calculator</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="Booking" class="dropbtn">Bookings</a>

            </div>

            <div class="logo2">
                {% if data.loggedin == False %}
                <a href="/login">Login/Register</a>
                {% else %}
                <a href="/account"><img src="static/loggedin.png" /> </a>
                {% endif %}
            </div>
        </div>


    </div>

    <div class="info">
        <h1>Electric Vehicles</h1>
        <br />
        <h3>The benefits</h3>
        <br />
        <p>
            Electric vehicles (EVs) offer a cleaner, more efficient alternative to gasoline-powered cars. They produce zero tailpipe emissions, reducing air pollution and combating climate change.
            EVs are also more energy-efficient, converting more power into movement while reducing dependence on fossil fuels.<br /><br />

            Beyond environmental benefits, EVs come with lower maintenance costs—no oil changes, fewer mechanical issues, and overall reduced servicing expenses.
            With the expansion of charging infrastructure and government incentives, switching to an EV is becoming more accessible and cost-effective.<br /><br />

            Drive the future—choose electric for cleaner air, lower costs, and sustainable transportation!
            raising it in summer—can make a big difference in your home's energy use.
        </p>
    </div>
    <div class="footer">
        <p>Contact us: <a href="mailto:support@rolsa-tech.com">support@rolsa-tech.com</a></p>
        <p>Phone: +44 1234 567 890</p>
        <p><a href="supportPage" target="_blank">Visit our support site</a></p>
    </div>
</body>
</html>