<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel="stylesheet" href="StyleSheet.css" /> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, inital-scale-1.0" />
    <title>Solar Installations</title>
    <link rel="stylesheet" href="static/StyleSheet1.css" />

</head>
<body>

    <div class="navbar">
        <div class="logo"><a href="Home" style="width:150px; height:30px">Rolsa Tech</a></div>

        <div class="menu">
            <div class="dropdown">
                <a href="SolarPanel" class="dropbtn">SolarPanel <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="SolarInstall">Solar Installations</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="EVpage" class="dropbtn">EV's <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                <div class="dropdown-content">
                    <a href="EVChargers">EVChargers</a>
                </div>
            </div>

                <div class="dropdown">
                    <a href="HEMPage" class="dropbtn">HEM's </a>

                </div>
                <div class="dropdown">
                    <a href="GreenPage" class="dropbtn">Green Energy <img src="static/Downarrow.png" alt="A dropdown arrow" /></a>
                    <div class="dropdown-content">
                        <a href="reduce">reduce emissions</a>
                        <a href="CarbonCalc">Carbon Footprint Calculator</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="Booking" class="dropbtn">Bookings</a>

                </div>

                <div class="logo2">
                    {% if data.loggedin == False %}
                    <a href="/login">Login/Register</a>
                    {% else %}
                    <a href="/account"><img src="static/loggedin.png" /> </a>
                    {% endif %}
                </div>
            </div>
            </div>

    </div>
    <div class="homeBackground">

        <div class="homeTitle">
            <h1>
                Solar Installations

                <br />
                Allow us to take it from here
                <br />
            </h1>

            <div class="homeSubtitle">
                <h3>Rolsa Technologies offers you the best and simplest installations you could ask for </h3>
                <br />
                <h3>Get Your Quote today! </h3>

                <br /><br />
                <h3>With our services you can save money and collaborate to a more sustainable future through our state of the art solar panels. <a href="Booking">Book your Consultation</a> Today.</h3>
            </div>
            <br />


        </div>

        <div class="homeImage">
            <p> We also hand install all products bought directly from us saving you the hassle </p>
        </div><br />
    </div>
    <div class="footer">
        <p>Contact us: <a href="mailto:support@rolsa-tech.com">support@rolsa-tech.com</a></p>
        <p>Phone: +44 1234 567 890</p>
        <p><a href="supportPage" target="_blank">Visit our support site</a></p>
    </div>
</body>
</html>